<ul>
    <li>
        <a href="/">
            Список курсов
        </a>
    </li>
        <li>
        <a href="/category_list/">
            Список категорий
        </a>
    </li>
    <li>
        <a href="/create_course/">
            Создать курс
        </a>
    </li>
    <li>
        <a href="/create_category/">
            Создать категорию
        </a>
    </li>
    <li>
        <a href="/create_student/">
            Создать студента
        </a>
    </li>
    <li>
        <a href="/student_list/">
            Список студентов
        </a>
    </li>
    <li>
        <a href="/add_student/">
            Добавить студента на курс
        </a>
    </li>
</ul>