{% extends "base.html" %}
{% block title %}
Бусинка
{% endblock %}
{% block body %}
    <h2>Кошка Бусинка</h2>
    <h3>Описание кошака</h3>
    <img src="{{ image }}" alt="Фото Буси">

    <p>Болтливая. Компанейская. Фотогеничная.</p>
    <h3>Характеристики кошака</h3>
    <p>
        Болтливая. С ней вполне можно вести диалог, пусть её ответы и будут примерно одинаковы.
        <br>
        Компанейская. Ко всем гостям относится как к уже давно знакомым.
        <br>
        Фотогеничная. Она из тех кошаков, которые на любом фото получаются идеально.
    </p>
    <p>
        Д.р. примерно 01.03.2014 г. Найдена супругой (тогда ещё только встечались) возле подъезда дома её родителей в сентябре 2014, скорее всего брошенка :(
        <br>
        Я как раз переезжал на новую квартиру, и был только рад животине.
        <br>
        Умильная и ласковая; доверчивая - почти всегда спит на спине, открыв живот; встечает на пороге, даже если мы не виделись всего полчаса; "мурчальник" включается от одного прикосновения.
    </p>
    <h3>Интересные факты</h3>
    <p>Её имя выбрано по причине того, что она умудрилась спрятаться в тогда ещё абсолютно пустой квартире.
        <br>
        Как выяснилось, пряталась она под шкафчиком кухонной мойки.
        <br>
        Первая мысль - как она туду закатилась? Отсюда "Бусинка" и подтянулось. Хотя дома она именуется просто Буся.
    </p>

{% include "include/inc_menu.html" %}
{{footer}}
{% endblock %}