{% extends "base.html" %}
{% block title %}
Мои кошаки
{% endblock %}
{% block body %}
    <h2>Здесь должны быть товары, но...</h2>
    <img src="{{ image }}" alt="Фото кошаков">
    <p>
        ... но у меня пока нет идеи Интренет-магазина, которую хотелось бы развивать.
        <br>
        Авось, озарит к следующему занятию, там и переделаю. Благо, пока ничего сложного, потренеруюсь лишний раз.
        <br>
        А пока - вот вам немного информации (оформленной по требованиям задания) о проживающей у нас кошачьей коммуне.
    </p>
{% include "include/inc_menu.html" %}
{{footer}}
{% endblock %}