<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мои кошаки</title>
</head>
<body>
    <h2>Кот Кекс</h2>
    <h3>Описание кошака</h3>
    <img src="/static/keks.jpg" alt="Фото Кекса">
    <p>Полосатый. Наглый. Обаятельный.</p>
    <h3>Характеристики кошака</h3>
    <p>
        Полосатый. Заслуженный обладатель звания "Полосатая задница".
        <br>
        Наглый. И непослушный до кучи. Лазает везде, где нельзя, и не убегает, пока не подойдёшь к нему.
        <br>
        Обаятельный. Этой милой харе прощается всё.
    </p>
    <p>
        Д.р. примерно 01.06.2019 г. Найден возле подъезда нашего дома в августе 2019 - скакал в траве, увидел нас с супругой, подбежал и сразу сам залез на руки.
        <br>
        Попытки пристроить его не увенчались успехом (хотя до этого есть пара успешных передержек) - видимо, судьба.
        <br>
        Растёт; милеет на глазах; регулярно устраивает ночной тыгыдык; гоняет старших кошаков; при беге курлычет как голубь; заинтересованно смотрит телевизор.
    </p>
    <h3>Интересные факты</h3>
    <p>
        - В ранней версии именовался как "Шкет".<br>
        - Момент его кастрации мы неосознанно откладывали, но недавно это всё же случилось, по его же глупости:
        <br>
         он съел 4 пальца резиновой хозяйственной перчатки, мы решили не рисковать и повезли его к ветеринару.
        <br>
         Там его благополучно "облегчили" и заодно "почикали". В общем, подставился котяра.
    </p>
</body>
{{footer}}
</html>