<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мои кошаки</title>
</head>
<body>
    <h2>Кот Ситх</h2>
    <h3>Описание кошака</h3>
    <img src="/static/sita.jpg" alt="Фото Сита">
    <p>Ворчун. Тучка. Натерпелся.</p>
    <h3>Характеристики кошака</h3>
    <p>
        Ворчун. Недовольно маукает и рычит, если не в духе (но без агрессии, терпеливый).
        <br>
        Тучка. Имеется некоторая природная склонность к упитанности, при том что не переедает.
        <br>
        Натерпелся. Бедолаге из-за проблем со здоровъем пришлось удалять селезёнку.
    </p>
    <p>
        Д.р. примерно 01.04.2015 г. Найден вместе со своим братом моей мамой в коробке в мае 2015. Не стал кто-то их раздавать и просто оставил :(
        <br>
        Его брата мы пристроили. А им самим, его воспитанием, занялась старшая кошка (которая, по началу, не очень была рада такому соседству).
        <br>
        Почти всегда выглядит насупленным и гордым недотрогой, но на деле ласковый и любит внимание.
    </p>
    <h3>Интересные факты</h3>
    <p>Имя ему выбирала супруга, фанат "Звёздных войн" (первых двух трилогий, тут лучше уточнить).
        <br>
        В целом ему подходит, но в быту призносится немного трудно.
        <br>
        Поэтому дома он именуется как "Сит" / "Сита" / "Ситюня" / "сладкий пупсик" (версия супруги, он её любимец).
    </p>
</body>
{{footer}}
</html>